* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    background: #f4f6fb;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 300px;
    background: linear-gradient(180deg, #1c1b4d, #2b2a7a);
    color: #fff;
    padding: 25px;
}

.photo {
    width: 100%;
    height: 300px;
    background: #ddd;
    border-radius: 12px;
    margin-bottom: 20px;
    object-fit: cover;
}


.sidebar h1 {
    margin: 10px 0 0;
    font-size: 26px;
}

.sidebar h1 span {
    font-weight: 300;
}

.job {
    opacity: 0.8;
    margin-bottom: 20px;
}

.block {
    margin-bottom: 20px;
}

.block h3 {
    margin-bottom: 8px;
    font-size: 16px;
}

.block ul {
    padding-left: 18px;
}

.btn {
    display: block;
    text-align: center;
    background: #ff5f5f;
    padding: 12px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 40px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.card h2 {
    margin-top: 0;
    color: #3b3b9d;
}

.item {
    margin-bottom: 15px;
}

.item h4 {
    margin: 0;
}

.item span {
    font-size: 13px;
    color: #777;
}

.tags span {
    display: inline-block;
    background: #eef0ff;
    color: #3b3b9d;
    padding: 6px 12px;
    border-radius: 20px;
    margin: 5px 5px 0 0;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .cheat-video {
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    width: 420px;
  }
  .sidebar {
    width: 260px;
  }

  .content {
    padding: 30px;
  }
}

@media (max-width: 600px) {

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    text-align: center;
  }

  .photo {
    height: 220px;
  }

  .content {
    padding: 20px;
  }

  .card {
    padding: 20px;
  }

    .cheat-video {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 90vw;
    max-height: 60vh;
  }
}
